.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  position: relative;
  width: 25vw;
  border: 1px solid black;
  box-shadow: 2px 2px 8px #282c34
}

h2 {
  word-wrap: normal;
}
h3 {
  padding: 10px;
  text-decoration: underline;
}
.container {
  display: inline-block;
  position: relative;
}

.moviegrid {
  width: 25vw;
  margin: 5px;
}

.overview {
  position: absolute;
  background-size: contain;
  top: 0px;
  width: 25vw;
  height: 400px;
  z-index: -1;
}

.moviegrid:hover img {
opacity: .4;

}

.imagecontain {
  position: relative;
  
}

